.nav-bar {
  background-color: #0f2027;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.nav-bar-title>p {
  font-size: 1.5rem;
  color: whitesmoke;
}





