.warehouse-list-table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
table {
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: rgba(177, 176, 174, 0.137);
}
td,
th {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.green-dot {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #6be585;
}
.red-dot {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #dd3e54;
}

.nav-bar--search > input {
  font-family: "Poppins", sans-serif;
  padding: 5px;
  background-color: transparent;
  border: 1px solid gray;
  height: 35px;
  width: 300px;
  border-radius: 0;
}

.nav-bar--search > input:focus {
  outline: none;
}

.nav-bar--search,
.nav-bar--filter {
  margin-right: 40px;
  display: flex;
}

.nav-bar--filter > select:focus {
  outline: none;
}

.nav-bar--filter > select {
  font-family: "Poppins", sans-serif;
  padding: 5px;
  background-color: #0f2027;
  border: none;
  height: 35px;
  width: 150px;
  border-radius: 0;
  color: honeydew;
}

.search-filter {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
